<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aiProviders.v1</key>
	<data>
	eyJzZXJ2ZXJWZXJzaW9uIjowLCJkaXJ0eSI6ZmFsc2UsImVudmVsb3BlIjp7InRvbWJz
	dG9uZXMiOltdLCJvcmRlclVwZGF0ZWRBdCI6MTc4NjAyOTM3ODg3NiwiaXRlbXMiOlt7
	InZhbHVlIjp7InByb3ZpZGVyIjp7ImtleSI6Int7QU5USFJPUElDX0FQSV9LRVl9fSIs
	ImlkIjoiNEJCODcwNTgtQzY5QS00M0Q5LTgzMjktNzgxMUY5QzM3OEYwIiwibW9kZWwi
	OiJjbGF1ZGUtc29ubmV0LTUiLCJzdGF0ZSI6InRlc3RlZCJ9LCJ0eXBlIjoiYW50aHJv
	cGljIn0sInVwZGF0ZWRBdCI6MTc4NjAyOTM0Njg4Mn0seyJ2YWx1ZSI6eyJwcm92aWRl
	ciI6eyJrZXkiOiJ7e09QRU5BSV9BUElfS0VZfX0iLCJpZCI6IkE0MjA3OEFDLUQ3Njgt
	NERBRS1BMEE0LTQxNEVGOTc1MDgwNyIsIm1vZGVsIjoiZ3B0LTUuNi1zb2wiLCJzdGF0
	ZSI6InRlc3RlZCJ9LCJ0eXBlIjoib3BlbmFpIn0sInVwZGF0ZWRBdCI6MTc4NjAyOTQw
	Nzg5MX1dfX0=
	</data>
	<key>appleTranscriptionLocale</key>
	<data>
	eyJpZGVudGlmaWVyIjoicnUtUlUiLCJjdXJyZW50IjowfQ==
	</data>
	<key>dictationCredential.elevenlabs-api.v1</key>
	<data>
	eyJlbnZlbG9wZSI6eyJ1cGRhdGVkQXQiOjE3ODYwMjkyNzA2NjYsInZhbHVlIjp7InN0
	YXRlIjoidGVzdGVkIiwia2V5Ijoie3tFTEVWRU5MQUJTX0FQSV9LRVl9fSJ9fSwiZGly
	dHkiOmZhbHNlLCJzZXJ2ZXJWZXJzaW9uIjowfQ==
	</data>
	<key>enableMCP</key>
	<false/>
	<key>enableSendWithReturnKey</key>
	<false/>
	<key>fileTranscriptionVoiceModelID</key>
	<data>
	ImVsZXZlbmxhYnMtYXBpIg==
	</data>
	<key>hasCompletedOnboarding</key>
	<true/>
	<key>hideCodexIntegration</key>
	<true/>
	<key>hideCursorIntegration</key>
	<true/>
	<key>hideGetIOSApp</key>
	<true/>
	<key>hideNoAudioSignalAlert</key>
	<true/>
	<key>hideSilentMicrophoneError</key>
	<true/>
	<key>isFirstLaunch</key>
	<false/>
	<key>modelSettings.elevenlabs-api.v1</key>
	<data>
	eyJkaXJ0eSI6ZmFsc2UsImVudmVsb3BlIjp7InVwZGF0ZWRBdCI6MTc4NjAyOTI2Nzkx
	MiwidmFsdWUiOnsibW9kZWwiOiJzY3JpYmVfdjIifX0sInNlcnZlclZlcnNpb24iOjB9
	</data>
	<key>modes.v2</key>
	<data>
	eyJlbnZlbG9wZSI6eyJvcmRlclVwZGF0ZWRBdCI6MCwidG9tYnN0b25lcyI6W10sIml0
	ZW1zIjpbeyJ2YWx1ZSI6eyJzaG9ydGN1dCI6eyJ0cmlnZ2VyIjp7ImtleXMiOnsiXzAi
	OnsicmF3RmxhZ3MiOjE2fX19LCJpZCI6IjAwMDAwMDAwLTAwMDAtNDAwMC04MDAwLTAw
	MDAwMDAwMDAwMSIsImFjdGl2YXRpb25Nb2RlIjoidG9nZ2xlIn0sIndlYnNpdGVzIjpb
	XSwiaW5jbHVkZUNsaXBib2FyZENvbnRleHQiOmZhbHNlLCJlbmFibGVkVG9vbHMiOltd
	LCJyZWFzb25pbmdFZmZvcnQiOiJkZWZhdWx0IiwidmlzaW9uRW5hYmxlZCI6ZmFsc2Us
	InByb21wdCI6ItCi0Ysg4oCUINC60L7RgNGA0LXQutGC0L7RgCDQs9C+0LvQvtGB0L7Q
	stGL0YUg0LfQsNC80LXRgtC+0LouINCi0LXQutGB0YIg0L/RgNC40YjRkdC7INC40Lcg
	U1RUINC4INC80L7QttC10YIg0YHQvtC00LXRgNC20LDRgtGMINCw0YDRgtC10YTQsNC6
	0YLRiyDRgNCw0YHQv9C+0LfQvdCw0LLQsNC90LjRjy5cblxuPHJ1bGVzPlxuMS4g0JjR
	gdC/0YDQsNCy0Ywg0L/Rg9C90LrRgtGD0LDRhtC40Y4g0Lgg0L7RgNGE0L7Qs9GA0LDR
	hNC40Y5cbjIuINCj0LTQsNC70Lgg0YXQtdC30LjRgtCw0YbQuNC4OiDRjS3RjS3RjSwg
	0Lwt0Lwt0LwsINGNLdGNLdC8LCDQsC3QsC3QsCDQuCDQv9C+0LTQvtCx0L3Ri9C1XG4z
	LiDQo9C00LDQu9C4INGD0LTQu9C40L3QtdC90LjRjyDQs9C70LDRgdC90YvRhTog0L3Q
	vtC+0L7ihpLQvdC+LCDQuNC40LjihpLQuCwg0L3QsNCw0LDihpLQvdCwLCDQstC60LvQ
	sNC00LrQsNCw0LDihpLQstC60LvQsNC00LrQsFxuNC4g0KPQtNCw0LvQuCDRhNCw0LvR
	jNGB0YLQsNGA0YLRizogXCLRjyDRhdC+0YLQtdC7Li4uINGPINC40LzQtdGOINCyINCy
	0LjQtNGDIFhcIiDihpIgXCJYXCJcbjUuINCj0LTQsNC70Lgg0YHQu9C+0LLQsC3Qv9Cw
	0YDQsNC30LjRgtGLOiDQvdGDLCDQutCw0Log0LHRiywg0YLQuNC/0LAsINCyINC+0LHR
	idC10LwsINC60L7RgNC+0YfQtSwg0YLQsNC6INGB0LrQsNC30LDRgtGMLCDQt9C90LDR
	h9C40YJcbjYuINCj0LTQsNC70Lgg0YHQu9GD0YfQsNC50L3Ri9C1INC/0L7QstGC0L7R
	gNGLINGB0LvQvtCyOiBcItC10YHRgtGMINC10YHRgtGMXCIg4oaSIFwi0LXRgdGC0Yxc
	IlxuNy4g0KPQsdC10YDQuCDQuNC30LHRi9GC0L7Rh9C90YvQtSDQutC+0L3RgdGC0YDR
	g9C60YbQuNC4LCDQvdC1INC80LXQvdGP0Y8g0YHQvNGL0YHQu1xuPC9ydWxlcz5cblxu
	PGNvbnN0cmFpbnRzPlxuLSDQndCVINC/0LXRgNC10YTRgNCw0LfQuNGA0YPQuSDigJQg
	0YfQuNGB0YLQuCwg0L3QtSDQv9C10YDQtdC/0LjRgdGL0LLQsNC5XG4tINCd0JUg0LzQ
	tdC90Y/QuSDQvtCx0YDQsNGJ0LXQvdC40LU6INGC0Ysv0LLRiywg0LTQsNCy0LDQuS/Q
	tNCw0LLQsNC50YLQtSDQvtGB0YLQsNCy0LvRj9C5INC60LDQuiDQtdGB0YLRjFxuLSDQ
	ndCVINC00L7QsdCw0LLQu9GP0Lkg0YHQu9C+0LLQsCwg0LrQvtGC0L7RgNGL0YUg0L3Q
	tSDQsdGL0LvQviAo0L3Rg9C20L3Qviwg0YLQsNC60LbQtSwg0LfQsNGC0LXQvCwg0L/R
	gNC4INGN0YLQvtC8KVxuLSDQndCVINGD0LTQsNC70Y/QuSBcItGC0LDQvFwiLCBcItC6
	0LDQutC40LUt0YLQvlwiLCBcItC60LDQui3RgtC+XCIsINC10YHQu9C4INC+0L3QuCDQ
	vdC10YHRg9GCINGB0LzRi9GB0Ltcbi0g0J3QlSDRgdC+0LrRgNCw0YnQsNC5INGC0LXQ
	utGB0YIg0LHQvtC70LXQtSDRh9C10Lwg0L3QsCAzMCUg0L/QviDRgdC70L7QstCw0Lxc
	bi0g0KHQu9C10L3QsyDQuCDRgNCw0LfQs9C+0LLQvtGA0L3Ri9C1INCy0YvRgNCw0LbQ
	tdC90LjRjyDigJQg0L7RgdGC0LDQstC70Y/QuVxuLSDQodC70L7QstCwINC90LAg0LTR
	gNGD0LPQuNGFINGP0LfRi9C60LDRhSDigJQg0L7RgdGC0LDQstC70Y/QuSDQvdCwINC+
	0YDQuNCz0LjQvdCw0LvRjNC90L7QvCDRj9C30YvQutC1XG4tINCe0YLQstC10YfQsNC5
	INC90LAg0YLQvtC8INC20LUg0Y/Qt9GL0LrQtSwg0YfRgtC+INC4INCy0YXQvtC00L3Q
	vtC5INGC0LXQutGB0YJcbjwvY29uc3RyYWludHM+XG5cbjxleGFtcGxlcz5cbjxleGFt
	cGxlPlxuPGlucHV0PtCY0LfRg9GH0Lgg0Y3RgtGDINGB0LXRgdGB0LjRjiDQuCDQstGB
	0LUg0YHQstGP0LfQsNC90L3Ri9C1INGBINC90LXQuSDRhNCw0LnQu9GLINC40LjQuCDR
	gdGA0LDQstC90LgsINC90LDRgdC60L7Qu9GM0LrQviDQv9GA0LDQstC40LvRjNC90L4g
	0L7QvdCwINC+0YLRgNCw0LHQvtGC0LDQu9CwINGB0L7Qs9C70LDRgdC90L4g0L3QsNGI
	0LXQvNGDINC/0LvQsNCz0LjQvdGDLCDRjS3RjS3RjSwg0Lgg0LLRgdC1INC+0YjQuNCx
	0LrQuCDQv9GA0LXQtNC70L7QttC4INC60LDQuiDQv9C+0YTQuNC60YHQuNGC0YwsINGB
	0YHRi9C70LDRj9GB0Ywg0L3QsCDQvtGE0LjRhtC40LDQu9GM0L3Rg9GOINC00L7QutGD
	0LzQtdC90YLQsNGG0LjRjjwvaW5wdXQ+XG48b3V0cHV0PtCY0LfRg9GH0Lgg0Y3RgtGD
	INGB0LXRgdGB0LjRjiDQuCDQstGB0LUg0YHQstGP0LfQsNC90L3Ri9C1INGBINC90LXQ
	uSDRhNCw0LnQu9GLLCDRgdGA0LDQstC90LgsINC90LDRgdC60L7Qu9GM0LrQviDQv9GA
	0LDQstC40LvRjNC90L4g0L7QvdCwINC+0YLRgNCw0LHQvtGC0LDQu9CwINGB0L7Qs9C7
	0LDRgdC90L4g0L3QsNGI0LXQvNGDINC/0LvQsNCz0LjQvdGDLCDQuCDQstGB0LUg0L7R
	iNC40LHQutC4INC/0YDQtdC00LvQvtC20Lgg0LrQsNC6INC/0L7RhNC40LrRgdC40YLR
	jCwg0YHRgdGL0LvQsNGP0YHRjCDQvdCwINC+0YTQuNGG0LjQsNC70YzQvdGD0Y4g0LTQ
	vtC60YPQvNC10L3RgtCw0YbQuNGOLjwvb3V0cHV0PlxuPC9leGFtcGxlPlxuXG48ZXhh
	bXBsZT5cbjxpbnB1dD7QkC3QsC3QsCwg0YMg0LzQtdC90Y8g0LIgWCwg0LIgVHdpdHRl
	ciDQtdGB0YLRjCDQstC60LvQsNC00LrQsNCw0LAgRm9yIFlvdSDQuCBGb2xsb3dpbmcu
	IEZvbGxvd2luZyDQv9C+0LrQsNC30YvQstCw0LXRgiwg0Y0t0Y0t0Y0sINC70LXQvdGC
	0YMg0YLQvtC70YzQutC+INGC0LXRhSDQu9GO0LTQtdC5LCDQvdCwINC60L7Qs9C+INGP
	INC/0L7QtNC/0LjRgdCw0L08L2lucHV0PlxuPG91dHB1dD7QoyDQvNC10L3RjyDQsiBY
	LCDQsiBUd2l0dGVyLCDQtdGB0YLRjCDQstC60LvQsNC00LrQsCBGb3IgWW91INC4IEZv
	bGxvd2luZy4gRm9sbG93aW5nINC/0L7QutCw0LfRi9Cy0LDQtdGCINC70LXQvdGC0YMg
	0YLQvtC70YzQutC+INGC0LXRhSDQu9GO0LTQtdC5LCDQvdCwINC60L7Qs9C+INGPINC/
	0L7QtNC/0LjRgdCw0L0uPC9vdXRwdXQ+XG48L2V4YW1wbGU+XG5cbjxleGFtcGxlPlxu
	PGlucHV0PtC90YMg0LLQvtGCINGPINC30L3QsNGH0LjRgiDQtNGD0LzQsNGOINGH0YLQ
	viDQvdCw0Lwg0L3Rg9C20L3QviDRgtC40L/QsCDQv9C10YDQtdC/0LjRgdCw0YLRjCDR
	jdGC0L7RgiDQutC+0LzQv9C+0L3QtdC90YIg0L3QsCByZWFjdCDQv9C+0YLQvtC80YMg
	0YfRgtC+INC90YMg0LrQsNC6INCx0Ysg0YLQtdC60YPRidCw0Y8g0YDQtdCw0LvQuNC3
	0LDRhtC40Y8g0L7QvdCwINC+0YfQtdC90Ywg0L7Rh9C10L3RjCDQvNC10LTQu9C10L3Q
	vdCw0Y8g0Lgg0LLQvtGCPC9pbnB1dD5cbjxvdXRwdXQ+0K8g0LTRg9C80LDRjiwg0YfR
	gtC+INC90LDQvCDQvdGD0LbQvdC+INC/0LXRgNC10L/QuNGB0LDRgtGMINGN0YLQvtGC
	INC60L7QvNC/0L7QvdC10L3RgiDQvdCwIFJlYWN0LCDQv9C+0YLQvtC80YMg0YfRgtC+
	INGC0LXQutGD0YnQsNGPINGA0LXQsNC70LjQt9Cw0YbQuNGPINC+0YfQtdC90Ywg0LzQ
	tdC00LvQtdC90L3QsNGPLjwvb3V0cHV0PlxuPC9leGFtcGxlPlxuXG48ZXhhbXBsZT5c
	bjxpbnB1dD7QkCDQvNC+0LbQtdGI0Ywg0LrQsNC6LdGC0L4g0L3QsNGB0YLRgNC+0LjR
	gtGMINGC0LDQuiwg0YfRgtC+0LHRiyDRgyDQvNC10L3RjyDQstGB0ZEg0LHRi9C70L4g
	0L3QsCDRgNGD0YHRgdC60L7QvCDRj9C30YvQutC1PzwvaW5wdXQ+XG48b3V0cHV0PtCQ
	INC80L7QttC10YjRjCDQutCw0Lot0YLQviDQvdCw0YHRgtGA0L7QuNGC0Ywg0YLQsNC6
	LCDRh9GC0L7QsdGLINGDINC80LXQvdGPINCy0YHRkSDQsdGL0LvQviDQvdCwINGA0YPR
	gdGB0LrQvtC8INGP0LfRi9C60LU/PC9vdXRwdXQ+XG48L2V4YW1wbGU+XG48L2V4YW1w
	bGVzPlxuXG7QktC10YDQvdC4INGC0L7Qu9GM0LrQviDQvtGC0YDQtdC00LDQutGC0LjR
	gNC+0LLQsNC90L3Ri9C5INGC0LXQutGB0YIuIiwibW9kZSI6ImF1dG9JbnNlcnQiLCJ0
	cmFuc2NyaXB0aW9uTW9kZWxJRCI6ImVsZXZlbmxhYnMtYXBpIiwiaWQiOiIwMDAwMDAw
	MC0wMDAwLTQwMDAtODAwMC0wMDAwMDAwMDAwMDEiLCJ0cmlnZ2VyV29yZHMiOltdLCJh
	cHBCdW5kbGVJZGVudGlmaWVycyI6W10sImFpUHJvdmlkZXJJRCI6IjRCQjg3MDU4LUM2
	OUEtNDNEOS04MzI5LTc4MTFGOUMzNzhGMCIsImZhbGxiYWNrQUlQcm92aWRlcklEIjoi
	QTQyMDc4QUMtRDc2OC00REFFLUEwQTQtNDE0RUY5NzUwODA3IiwicHJlU2NyaXB0Ijoi
	IiwiaW5jbHVkZUN1cnNvckNvbnRleHQiOmZhbHNlLCJuYW1lIjoi0KDQtdC20LjQvCDQ
	v9C+INGD0LzQvtC70YfQsNC90LjRjiIsImRpc2FibGVBZ2VudFN5c3RlbVRvb2xzIjpm
	YWxzZSwiaW5jbHVkZUJyb3dzZXJVUkxDb250ZXh0IjpmYWxzZSwic21hcnRDYXBpdGFs
	aXphdGlvbiI6ImRlZmF1bHQiLCJwb3N0U2NyaXB0IjoiIiwiY3VzdG9tU3lzdGVtUHJv
	bXB0IjoiIiwiaW5jbHVkZUtleWJvYXJkQ3Vyc29yQ29udGV4dCI6ZmFsc2UsImRlc2Ny
	aXB0aW9uIjoiIiwibW9kZU1hYyI6ImF1dG9JbnNlcnQiLCJpbmNsdWRlRm9jdXNlZEFw
	cENvbnRleHQiOmZhbHNlfSwidXBkYXRlZEF0IjoxNzg3MTU0NTAzOTAxfV19LCJzZXJ2
	ZXJWZXJzaW9uIjowLCJkaXJ0eSI6ZmFsc2V9
	</data>
	<key>muteWhileRecording</key>
	<true/>
	<key>onboarding.didClickFinish</key>
	<true/>
	<key>pauseMediaWhileRecording</key>
	<true/>
	<key>settingsVersion</key>
	<integer>16</integer>
	<key>showInStatusBar</key>
	<false/>
	<key>textTypingMode</key>
	<string>smartPaste</string>
	<key>transcriptionModelID</key>
	<data>
	ImVsZXZlbmxhYnMtYXBpIg==
	</data>
	<key>useSystemDefaultMicrophone</key>
	<false/>
	<key>vadTrimEnabled</key>
	<false/>
	<key>wordReplacements.v2</key>
	<data>
	eyJkaXJ0eSI6ZmFsc2UsInNlcnZlclZlcnNpb24iOjAsImVudmVsb3BlIjp7Iml0ZW1z
	IjpbeyJ1cGRhdGVkQXQiOjE3ODkwMzU4MTQ4MzIsInZhbHVlIjp7ImlkIjoiRUMyQTRE
	OTctMDRDQy00NzI1LUI3OTctQzkwM0UyQjVENTIxIiwiaXNSZWdleCI6ZmFsc2UsInJl
	cGxhY2VtZW50IjoiSmFkbGlzIiwiY3JlYXRlZEF0Ijo4MTA3Mjg2MTQuODMyMzk2LCJv
	cmlnaW5hbCI6Ikp1ZGx5IiwidGltaW5nIjoiYmVmb3JlQUkifX0seyJ1cGRhdGVkQXQi
	OjE3ODYzMjIxMjQ5NzYsInZhbHVlIjp7ImlkIjoiQkNGRjVFRjYtODUxMi00RjQyLUJE
	MkEtODJGM0RDQjIzQTVBIiwiaXNSZWdleCI6ZmFsc2UsInJlcGxhY2VtZW50IjoiSmFk
	bGlzIiwiY3JlYXRlZEF0Ijo4MDgwMTQ5MjQuOTc1NDIyLCJvcmlnaW5hbCI6Ikp1c3Rs
	aXN0IiwidGltaW5nIjoiYmVmb3JlQUkifX0seyJ1cGRhdGVkQXQiOjE3ODYwMjk2Mjc4
	NDcsInZhbHVlIjp7ImlkIjoiMDNEQzZDNTUtRkM3NC00MkMxLThDMDMtNUMxMEVFNTRD
	NzYxIiwiaXNSZWdleCI6ZmFsc2UsInJlcGxhY2VtZW50IjoiSmFkbGlzIiwiY3JlYXRl
	ZEF0Ijo4MDc3MjI0MjcuODQ3MDYyLCJvcmlnaW5hbCI6Ikp1ZGxpc3QiLCJ0aW1pbmci
	OiJiZWZvcmVBSSJ9fSx7InVwZGF0ZWRBdCI6MTc4NjAyOTYyMTU2MywidmFsdWUiOnsi
	aWQiOiIxODIwNDc3Qi1GN0MxLTQwMjctODhENS03MTZFQkExODk3RUUiLCJpc1JlZ2V4
	IjpmYWxzZSwicmVwbGFjZW1lbnQiOiJHcm9rIiwiY3JlYXRlZEF0Ijo4MDc3MjI0MjEu
	NTYzODE0LCJvcmlnaW5hbCI6Ikdyb3EiLCJ0aW1pbmciOiJiZWZvcmVBSSJ9fSx7InVw
	ZGF0ZWRBdCI6MTc4NjAyOTYxNDEzMCwidmFsdWUiOnsiaWQiOiI0MzYxQjExMC1EOTRB
	LTQxNjEtQTcwNy04M0M0RTQyQTYzNTIiLCJpc1JlZ2V4IjpmYWxzZSwicmVwbGFjZW1l
	bnQiOiJUaW1pbmcgQXBwIiwiY3JlYXRlZEF0Ijo4MDc3MjI0MTQuMTMwNTYyLCJvcmln
	aW5hbCI6IlRpbWluZyBVcCIsInRpbWluZyI6ImJlZm9yZUFJIn19LHsidXBkYXRlZEF0
	IjoxNzg2MDI5NjAzOTgwLCJ2YWx1ZSI6eyJpZCI6IkVFQTZERDIwLUMyRjQtNEJGRi04
	MzI2LUQwNzkzOUQ1NTFERCIsImlzUmVnZXgiOmZhbHNlLCJyZXBsYWNlbWVudCI6Ikph
	ZGxpcyIsImNyZWF0ZWRBdCI6ODA3NzIyNDAzLjk4MDY3Miwib3JpZ2luYWwiOiJKdXRs
	aXN0IiwidGltaW5nIjoiYmVmb3JlQUkifX0seyJ1cGRhdGVkQXQiOjE3ODYwMjk1OTY2
	MjIsInZhbHVlIjp7ImlkIjoiMjYzRDlGM0UtM0E5Ni00RThBLTg3QTUtNjAzNEUxNzU4
	MDEyIiwiaXNSZWdleCI6ZmFsc2UsInJlcGxhY2VtZW50IjoiUmV3dW1wIiwiY3JlYXRl
	ZEF0Ijo4MDc3MjIzOTYuNjIyNDA5LCJvcmlnaW5hbCI6IlJldmFtcCIsInRpbWluZyI6
	ImJlZm9yZUFJIn19LHsidXBkYXRlZEF0IjoxNzg2MDI5NTg4ODQ3LCJ2YWx1ZSI6eyJp
	ZCI6IkExNzM0QTZFLTYyNEMtNDZDMy04RTRDLTU4NDYwM0MzODQ2OCIsImlzUmVnZXgi
	OmZhbHNlLCJyZXBsYWNlbWVudCI6IkphZGxpcyIsImNyZWF0ZWRBdCI6ODA3NzIyMzg4
	Ljg0NzQ4Miwib3JpZ2luYWwiOiJKdWRsZXNzIiwidGltaW5nIjoiYmVmb3JlQUkifX0s
	eyJ1cGRhdGVkQXQiOjE3ODYwMjk1ODA4OTcsInZhbHVlIjp7ImlkIjoiQThGMzlFMDAt
	QTFGMS00NThDLThCN0EtQ0RENTI0MTlGQ0MxIiwiaXNSZWdleCI6ZmFsc2UsInJlcGxh
	Y2VtZW50IjoiRmlyZWNyYXdsIiwiY3JlYXRlZEF0Ijo4MDc3MjIzODAuODk3NjEyLCJv
	cmlnaW5hbCI6IkZpbGVjcm93IiwidGltaW5nIjoiYmVmb3JlQUkifX0seyJ1cGRhdGVk
	QXQiOjE3ODYwMjk1NzIzMjIsInZhbHVlIjp7ImlkIjoiMzRDRDc0RjktRkU3MS00NkZB
	LUIyNjAtQkEzQzdGMTkxRUE3IiwiaXNSZWdleCI6ZmFsc2UsInJlcGxhY2VtZW50Ijoi
	Q2xhdWRlIENvZGUiLCJjcmVhdGVkQXQiOjgwNzcyMjM3Mi4zMjI2NzIsIm9yaWdpbmFs
	IjoiQ2xvdWQgQ29kZSIsInRpbWluZyI6ImJlZm9yZUFJIn19XSwidG9tYnN0b25lcyI6
	W10sIm9yZGVyVXBkYXRlZEF0IjoxNzg5MDM1ODE0ODMyfX0=
	</data>
</dict>
</plist>
